
/* Css */

/*import Coding*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

/**/
*{
  margin:0;
  padding:0;
}
html{
    overflow-x: hidden;
}
/**/

/* Background */ 
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #27273c 20%, #F5F5F5 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/* Background */ 

/* Slide Show */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Slide Show */

/* Navbar */ 
.navbar-nav {
  list-style-type: none;
  margin: auto;
  margin-left: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background-color:transparent;
  top: 0%;
  width: 100%;
}
.container{
  width:100%;
  z-index: 100;
}
.active2 {
  color:black;
}
li {
  margin-top: 20px;
  float: left;
  list-style-type: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 13px;
}
li a {
  margin-left: 8px;
  margin-right: 8px;
  display: block;
  color: black;
  border-radius:10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s ease-out 100ms
}
li a:hover {
  background-color: black;
  border-radius:10px; 
  background: #ECECEC;
  transition: background-color 0.5s ease-out 100ms
}
/* Navbar */ 

/* Images */
.img{
  padding-left:;
  width: 200px;
  height:250px;
  float:left; 
  border: 5px solid #555;
  border-radius:3px;
}
}
.imgt{
    float:left;
    padding:10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px
}
.table{
    width:100%;
    margin-top: 50px;
}
/* Images */

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}
/* Scrollbar */

/* Tags */
p{
  background-color: #555; 
  color: white;
  display: inline;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}    
h1{
    margin-left: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* Tags */

/* Media Queries */

/* Media Queries */